*{
    margin: 0;
    padding: 0;
}

.seat{
    transition: 0.4s all;
}

.booked{
    color: #eaeaea;
}

.selecting{
    color: #ff9e00;
}

#chonghe i.fa{
    cursor: pointer;
    font-size: 22px;
}

#chonghe{
    visibility: hidden;
    opacity: 0;
    display: none;
}

.hidechontuyen{
    visibility: hidden;
    opacity: 0;
    display: none;
}

.showchonghe{
    visibility: visible!important;
    opacity: 1!important;
    display: inherit!important;
}

.hide-thong-tin-khach-hang{
    visibility: hidden;
    opacity: 0;
    display: none;
}

.hidethanhtoan{
    visibility: hidden;
    opacity: 0;
    display: none;
}
